@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--primary-bg-color: #74a87e;
	--color-red: #d23131;
	--color-darkgrey: #353131;
	--color-grey: #605858;
	--color-lightgrey: rgba(53, 49, 49, 0.25);
	--color-white: #ffffff;
	--color-off-white: #f4f3f1;
}

.wrapper {
	padding: 1rem;
	justify-content: center;
	margin: 0 auto;
	min-height: 100vh;
	max-width: 480px;
	overflow: hidden;
}

.wrapper--greenleaf {
	background-color: var(--primary-bg-color);
	background-image: url('../resources/images/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

.wrapper--grey {
    background-color: var(--color-darkgrey);
    overflow: hidden;
}

.btn {
	display: flex;
	justify-content: center;
	border-radius: 8px;
	border: none;
	font-family: 'Fira Sans', sans-serif;
	font-size: 1.5rem;
	text-align: center;
	color: var(--color-white);
	padding: 1.5rem 0 1.5rem 0;
	cursor: pointer;
	width: 100%;
	text-decoration: none;
}

.btn--red {
	background-color: var(--color-red);
}

/* class="btn btn--red" */

.btn--grey {
	background-color: var(--color-grey);
	border: 1px solid var(--color-white);
}

.d-none {
	display: none !important;
}
