.overlay {
    padding: 1rem;
	justify-content: center;
	min-height: 100vh;
	overflow: hidden;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background-color: black;
    opacity: .5;
    margin: 0;
    padding: 0;
    z-index: 1;
    position: absolute;
}

.cart {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 1rem;
    width: 350px;
    min-height: 70%;
    max-height: 80vh;
    overflow-y: auto;
    background-color: white;
    border-radius: 6px;
    box-shadow: inset;
    z-index: 10;
}

.cart__card {
    padding: 0 1rem;
}

.cart-header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color-grey);
    padding: 1rem;
}

.cart__cardHeader {
    font-size: 1.5rem;
}

.cart__cardAdd {
    padding: .5rem 1rem;
    background-color: var(--color-white);
}

.cart__cardDelete {
    padding-bottom: .5rem;
    background-color: var(--color-white);
}

.cart__cardQuantity {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 800;
    font-size: 1.3rem;
}

.element-order {
    order: 2;
}

.order__quantity {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1rem;
}

.cart__icon--close {
    width: 2rem;
    cursor: pointer;
}

.cart__btn-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart__btn-section button {
    padding: .2rem .4rem;
}

.cart__button {
    margin-top: auto;
    margin-bottom: 1rem;
    width: 90%;
    align-self: center;
}

.empty-cart-msg {
	font-family: 'Fira Sans', sans-serif;
	text-align: center;
	margin-top: 5rem;
}

.cart__update-button {
    color: var(--color-white);
    border: none;
    border-radius: 3px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1rem;
    width: 40%;
}