

.cardConf{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1, h2, p{
    color: white;
    margin: 1rem;
}

img{
    /* width: 30rem; */
    width: 100%;
}

