.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 4rem;
}

.header__icon {
	width: 2.5rem;
	cursor: pointer;
}

.menuHeaders {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 20px;
}

.menuHeaders__button {
	width: 130px;
	height: 60px;
	margin: 1px;
	background-color: var(--color-grey);
	border: none;
	font-size: 1.5rem;
	font-family: 'PT Serif', serif;
	text-shadow: 0.68px 0.68px 1.36px rgba(0, 0, 0, 0.25);
	color: white;
}

.menuHeaders__button--active {
	background-color: var(--color-red);
	border: 2px solid white;
}

.menu {
	display: flex;
	flex-direction: column;
	/* min-height: 82vh; */
	background-color: #f4f3f1;
	border-radius: 3px;
	justify-self: center;
	margin-top: 10px;
	padding: 0 20px 50px 20px;
}

.visually-hidden{ /*gömmer rubriken men gör den synlig för tillgänglighet. tips av AI*/
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
}

.center {
	display: flex;
	justify-content: center;
}

.menu__card {
	display: flex;
	flex-direction: column;
	width: auto;
	min-width: 350px;
}

.menu__cardHeader {
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
	font-family: 'Fira sans';
	align-items: baseline;
	font-weight: 700;
	margin-top: 30px;
	font-size: 1.8rem;
	pointer-events: none;
}

/*Ai hjälpte mig med denna after eller ja föreslog det som ett bättre alternativ till vad jag hade.*/
.menu__cardHeader::after {
	content: '';
	flex-grow: 1;
	border-bottom: 3px dotted #000;
	margin: 0 10px;
	height: 0.7em;
}

.test {
	order: 2;
}

.menu__cardIngredients {
	font-size: 1rem;
	font-family: 'Fira sans';
	font-weight: 600;
	pointer-events: none;
}

.menu__cardHidden {
	display: flex;
	font-size: 1.5rem;
	font-family: 'Fira sans';
	font-weight: 700;
	padding-top: 10px;
}

.menu__cardQuantity {
	border: 4px solid black;
	align-self: center;
	padding: 4px 8px 4px 8px;
	border-radius: 5px;
	flex-grow: 0;
	width: 60px;
	text-align: center;
}

.menu__cardAdd {
	background-color: var(--color-off-white);
	border: none;
	padding-right: 20px;
	align-self: center;
	padding-left: 20px;
	font-size: 2rem;
}

.menu__cardDelete {
	background-color: var(--color-off-white);
	border: none;
	padding-right: 20px;
	align-self: center;
	padding-bottom: 4px;
	padding-left: 20px;
	font-size: 2.5rem;
}

.menu__cardBuy__button {
	margin-left: 20px;
	background-color: var(--color-red);
	color: white;
	font-family: 'Fira sans';
	font-size: 1rem;
	font-weight: 500;
	height: 50px;
	border-radius: 12px;
	border: none;
	width: 50%;
}

.d-none {
	display: none;
}
