
.wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.profile-section{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    flex: 1;
}

h1,p{
    color: white;
    text-align: center;

}

.profile__img{
    margin: 1rem;
}


.profile__description{
    margin: .5rem;
}


.btn-section{
    margin-top: auto;

}

.btn{
    margin-bottom: 1rem;
}